 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f0f0f0; /* 배경색 설정 */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.header {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  width: 100%;
  height: 60px;
}


/* Image,Font */
.codeImage, .bvImage {
  width: 30vw;
  height: auto;
  max-width: 100%;
  padding: 10px;
}

.bvImage, .codeImage img {
  width: 100%;
  height: auto;
}
.bvFont {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
.image-board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
  border: 10px solid black;
  padding: 100px; 
}

.image-board img {
  max-width: 100%;
  height: auto;
   /* 검은색 테두리 추가 */
  padding: 5px; /* 테두리와 이미지 사이의 간격 조정 */
}


/*Ad */

.ADName {
  font-size: 1.5rem;  
  padding: 30px 100px;  /* 좌우 패딩을 늘려서 버튼을 가로로 길게 만들기 */
  margin: 60px 10px;
  border: 2px solid #ffffff;  /* 흰색의 두꺼운 border 추가 */
  border-radius: 20px;
  background-color: black; 
  color: white;
  cursor: pointer;
  display: block;  
  width: max-content;  
  transition: all 0.3s ease
}

.ADName:hover {
  background-color: rgb(67, 66, 66); 
  border-color: rgb(60, 59, 59);  /* 호버 시 border 색상도 변경 */
}

/*Game*/
.GameName {
  margin-top: 200px;
  font-size: 5vw;
  color: black;
  font-style: normal;
  margin-bottom: 20px;
}

.GameInfo {
  font-size: 3vw;
  color: black;
  text-align: center;
  margin-bottom: 10vw;
}

.GameStart {
  align-items: center;
  padding: 30px 100px;  /* 좌우 패딩을 늘려서 버튼을 가로로 길게 만들기 */
  margin: 20px 10px;
  background-color: rgb(28, 30, 28);
  border-radius: 20px;  /* 수정된 부분 */
  font-size: 4vw;
  color: white;
  font-weight: bold;  /* 수정된 부분 */
  cursor: pointer;
  transition: background-color 0.3s;
}

.GameStart:hover {
  background-color: rgb(28, 60, 28);
}
  
/* Swap */


  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Swap을 왼쪽으로 배치 */
    width: 100%;
    max-width: 800px;
  }
  
  .title {
    font-size: 10vw;
    font-weight: 0;
  }
  
  .subtitle {
    padding: 20px 10px;
    font-size: 5vw;
  }
  
  .styleInput {
    width: 700px;
    padding: 30px 20px;
    font-size: 18px;
    margin-bottom: 6px;
    border-radius: 10px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
  }
  
  .Swap {
    padding: 10px 10px;
    background-color: #121413;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Swap:hover {
    background-color: #073819;
  }